header {

    padding: 20px;
    width: 100%;
    position: relative;
    top: 0;
    z-index: 1000; /* Asegura que el encabezado esté en la parte superior */
  }

footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin-top: 2%;

  }

  body {
    margin: 0;
    padding: 0;
    overflow-y: scroll; /* Agrega un scrollbar vertical */
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8)), url("https://images.unsplash.com/photo-1552627019-947c3789ffb5?q=80&w=1931&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }



  .container {
    margin-top: 30px; /* Margen superior */
    margin-bottom: 30px; /* Margen inferior */
}

btn-custom {
  background-color:orange;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 8px;
  
}

.btn-custom:hover {
  background-color: orange;
  
}

.btn{

  color:black;
  background-color: white;
  margin-top: 4%;
}

.col-md-4{

padding:5%;
padding-top: 8%;
}


.col-md-6{
padding:5%;
padding-top: 15%;
 }



  .container {
    margin-top: 30px; /* Margen superior */
    margin-bottom: 30px; /* Margen inferior */
}

btn-custom {
  background-color:orange;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 8px;
  
}

.btn-custom:hover {
  background-color: orange;
  
}

.btn{

  color:black;
  background-color: white;
  margin-top: 4%;
}

.col-md-4{

padding:5%;
padding-top: 8%;


}





